@model IEnumerable<Logistics.Models.News>

@{
    ViewBag.Title = "Index";
}
<style>
     .table th 
     {
        font-weight:bold;
        text-align:center;
     }   
     .table td
     {
         text-align:justify;
     }
</style>


<h3 style="text-align:center">Manage News</h3>
<button class="btn">@Html.ActionLink("Create New", "Create")</button>
<button class="btn" style="float:right;margin-bottom:20px;">@Html.ActionLink("Get News", "GetNewsFromUrl", "News")</button>
<table class="table table-bordered">
    <tr>
        <th>
            ID
        </th>
        <th>
            Title
        </th>
        <th>
            Description
        </th>
        <th>
            DateTime
        </th>
        <th>*</th>
    </tr>
@foreach (var item in Model) {
    <tr>
        <td>@item.NewsID</td>
        <td>
            @Html.DisplayFor(modelItem => item.Title)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td style="width:100px">
            @Html.DisplayFor(modelItem => item.DateTime)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { id=item.NewsID })
        </td>
    </tr>
}

</table>

<p>
    
    @{
        int StartID = @ViewBag.StartId; ;
        int sumNews = @ViewBag.SumNews;
    }    
</p>

<div class="pagination">
  <ul>
    <li>@Html.ActionLink("First", "Index", "News", new { startID = 0 }, null)</li>
    <li>
        @if (sumNews > StartID + 4)
        {
            @Html.ActionLink("Next ", "Index", "News", new { startID = StartID + 4 }, null)
        }
    </li>
    <li>
         @if (StartID >= 4)
        {
            @Html.ActionLink(" Prev ", "Index", "News", new { startID = StartID - 4 }, null)
        }
    </li>
    <li>@Html.ActionLink("Last", "Index", "News", new { startID = sumNews - 4 }, null)</li>
  </ul>
</div>

