@{
    ViewBag.Title = "Trang chủ";
}
                
 <!-- Slider -->
<div id="myCarousel" class="carousel slide">
    <ol class="carousel-indicators">
    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
    <li data-target="#myCarousel" data-slide-to="1"></li>
    <li data-target="#myCarousel" data-slide-to="2"></li>
    <li data-target="#myCarousel" data-slide-to="3"></li>
    <li data-target="#myCarousel" data-slide-to="4"></li>
    <li data-target="#myCarousel" data-slide-to="5"></li>
    <li data-target="#myCarousel" data-slide-to="6"></li>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
    <div class="active item">
    <img src="/Content/themes/base/images/slide-show/1.jpg" alt=""/>
    <div class="carousel-caption">
        <h4>Welcome to NII Logistics and Trading Company Limited !</h4>
        <p>NII is a leading Vietnamese shipping company providing point-to-point transportation solutions. It has multi purpose and liner services with an integrated network of owned offices throughout Vietnamese and places strong emphasis on safety, quality and customer.</p>
    </div>
    </div>
    <div class="item">
    <img src="/Content/themes/base/images/slide-show/2.jpg" alt=""/>
    <div class="carousel-caption">
        <h4>Welcome to NII Logistics and Trading Company Limited !</h4>
        <p>NII Co. provides nationwide door-to-door, port-to-door and door-to-port inland transportation. Whether shipping inland via road, rail or river, we deliver solutions that enhance and simplify your landside needs.</p>
    </div>
    </div>
    <div class="item">
    <img src="/Content/themes/base/images/slide-show/3.jpg" alt=""/>
    <div class="carousel-caption">
        <h4>Welcome to NII Logistics and Trading Company Limited !</h4>
        <p>NII is a leading Vietnamese shipping company providing point-to-point transportation solutions. It has multi purpose and liner services with an integrated network of owned offices throughout Vietnamese and places strong emphasis on safety, quality and customer.</p>
    </div>
    </div>                        
    <div class="item">
    <img src="/Content/themes/base/images/slide-show/4.jpg" alt=""/>
    <div class="carousel-caption">
        <h4>Welcome to NII Logistics and Trading Company Limited !</h4>
        <p>NII Co. provides nationwide door-to-door, port-to-door and door-to-port inland transportation. Whether shipping inland via road, rail or river, we deliver solutions that enhance and simplify your landside needs.</p>
    </div>
    </div>
    <div class="item">
    <img src="/Content/themes/base/images/slide-show/5.jpg" alt=""/>
    <div class="carousel-caption">
        <h4>Welcome to NII Logistics and Trading Company Limited !</h4>
        <p>Ocean freight is an integral part of global trade. Our comprehensive ocean freight solutions are backed by the experience of local teams of ocean freight specialists staffed throughout our network of offices near major seaports throughout Vietnam.</p>
    </div>
    </div>
    <div class="item">
    <img src="/Content/themes/base/images/slide-show/6.jpg" alt=""/>
    <div class="carousel-caption">
        <h4>Welcome to NII Logistics and Trading Company Limited !</h4>
        <p>NII is a leading Vietnamese shipping company providing point-to-point transportation solutions. It has multi purpose and liner services with an integrated network of owned offices throughout Vietnamese and places strong emphasis on safety, quality and customer.</p>
    </div>
    </div>
    <div class="item">
    <img src="/Content/themes/base/images/slide-show/7.jpg" alt=""/>
    <div class="carousel-caption">
        <h4>Welcome to NII Logistics and Trading Company Limited !</h4>
        <p>NII concerns to improve quality service to fulfill customer satisfaction. Our value is customer satisfaction create our high performance & productive company. NII consistently implements Quality Management System Standards (ISO 9001:2000).</p>
    </div>
    </div>
    </div>
    <!-- Carousel nav -->
    <!--
    <a class="carousel-control left" href="#myCarousel" data-slide="prev">&lsaquo;</a>
    <a class="carousel-control right" href="#myCarousel" data-slide="next">&rsaquo;</a>
    -->
</div>

<!-- Products -->
<div class="content-header">
    <h3>
        <img src="../../Content/themes/base/images/category.png" alt="" />
        <a href="">Services</a>
        <a style="float:right; padding-right:15px; margin-top:-2px"><img src="../../Content/themes/base/images/icons/sett.png" alt="" /></a>
    </h3>
</div>
<div class="row-fluid">
  <div class="span4">
    <div id="myCarousel-pro1" class="carousel slid">
        <!-- Carousel items -->
        <div class="carousel-inner">
        <div class="active item">
            <img src="../../Content/themes/base/images/product/c (2).jpg" alt="" />         
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/c (1).jpg" alt="" />                        
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/k (1).jpg" alt="" />                           
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/t (6).jpg" alt="" />  
        </div>                   
        <div class="item">
            <img src="../../Content/themes/base/images/product/t (1).jpg" alt="" />                        
        </div>
        </div>
    </div>
    <div class="product-content">
        <br />
        <a href="../Service/CustomsBrokerage"><h4>Customs Brokerage</h4></a>
    </div>
  </div>
  <div class="span4">
    <div id="myCarousel-pro2" class="carousel slid">
        <!-- Carousel items -->
        <div class="carousel-inner">
        <div class="active item">
            <img src="../../Content/themes/base/images/product/t (5).jpg" alt="" /> 
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/c (7).jpg" alt="" />                        
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/c (4).jpg" alt="" />                        
        </div>        
        <div class="item">
            <img src="../../Content/themes/base/images/product/b (2).jpg" alt="" />                        
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/k (2).jpg" alt="" />
        </div>                   
        <div class="item">
            <img src="../../Content/themes/base/images/product/t (2).jpg" alt="" />                        
        </div>
        </div>
    </div>      
    <div class="product-content">
        <br />
        <a href="../Service/LogisticsManagement"><h4>Logistics Management</h4></a>
    </div>
  </div>
  <div class="span4">
    <div id="myCarousel-pro3" class="carousel slid">
        <!-- Carousel items -->
        <div class="carousel-inner">        
        <div class="active item">
            <img src="../../Content/themes/base/images/product/c (3).jpg" alt="" />                            
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/b (3).jpg" alt="" />                        
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/c (5).jpg" alt="" />                        
        </div>
        
        <div class="item">
            <img src="../../Content/themes/base/images/product/k (3).jpg" alt="" />
        </div>                   
        <div class="item">
            <img src="../../Content/themes/base/images/product/c (6).jpg" alt="" />                        
        </div>
        <div class="item">
            <img src="../../Content/themes/base/images/product/t (4).jpg" alt="" />                        
        </div>
        </div>
    </div>
    <div class="product-content">
         <br />
         <a href="../Service/FreightTransportation"><h4>Freight Transportation</h4></a>
    </div>
  </div>
</div>

<div class="clear"></div>

<!-- News -->
<div class="content-header">
    <h3>
        <img src="../../Content/themes/base/images/category.png" alt="" />
        <a href="">News</a>
        <a style="float:right; padding-right:15px; margin-top:-2px"><img src="../../Content/themes/base/images/icons/rss.png" alt="" /></a>
    </h3>
</div>
<div>
    <ul class="list-news">
        @{ int i = 0; string title = "";}
        @{
            List<string> ImgUrl = new List<string>();
            ImgUrl.Add("../../Content/themes/base/images/news/news (8).jpg");
            ImgUrl.Add("../../Content/themes/base/images/news/news (2).jpg");
            ImgUrl.Add("../../Content/themes/base/images/news/news (1).jpg");
            ImgUrl.Add("../../Content/themes/base/images/news/news (3).jpg");
         }
        @foreach (var item in Model)
        {            
            title = item.Title;
            if(i<4)
            {                
                <li>
                    <div class="date-news">
                        <img src="@ImgUrl[i].ToString()" alt="" />
                    </div>                    
                    <div class="cont-news">
                        <div class="news-title">                                                         
                            @Html.ActionLink(@title, "Details", "News", new { id = @item.NewsID }, null)                            
                        </div>
                        <div class="news-des">@item.Description
                            <div class="readmore">@Html.ActionLink("Read more ...", "Details", "News", new { id = @item.NewsID }, null)</div>
                        </div>
                    </div>
                    <div class="clear"></div>
                </li>
            }
            i++;
        }        
    </ul>
</div>

